@import "../../../styles/variables";
@import "../../../styles/mixins";

.subscription-banner-section {
    @include flex(start, center, 20px, column);
    padding: 100px;
    background-color: $second-bg-color;
    height: 592px;
    position: relative;

    &-title {
        color: $first-font-color;
        font-size: 4rem;
    }
    &-text {
        color: $third-font-color;
    }

    &-switch {
        @include flex(center, center, 20px);

        &-name {
            color: $second-font-color;
        }

        & label {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;

            & input {
                opacity: 0;
                width: 0;
                height: 0;

                &:checked + .slider {
                    background-color: $second-bg-color;
                }
                & + .slider {
                    box-shadow: 0 0 4px $main-color;
                }
                &:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }
        }

        & span {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $second-bg-color;
            border-radius: 34px;
            -webkit-transition: .4s;
            transition: .4s;

            &:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: $main-color;
                border-radius: 50%;
                -webkit-transition: .4s;
                transition: .4s;
            }
        }
    }

    &-cards {
        @include flex(center, center, 70px);
        position: absolute;
        top: 52%;
    }
    &-card {
        @include flex(center, center, 30px, column);
        padding: 40px;
        border-radius: 10px;
        border: 1px solid #CECECE;
        width: 350px;
        &.left {
            background-color: $white-color;
            & h2 {
                color: $third-font-color;
                font-size: 2rem;
            }
            & h1 {
                color: $main-color;
                font-size: 3rem;
            }
            & p {
                color: $third-font-color;
            }
        }
        &.right {
            background-color: $main-color;
            color: $white-color;
            & h2 {
                font-size: 2rem;
            }
            & h1 {
                font-size: 3rem;
            }
        }
        &-btn {
            width: 100%;
        }
    }
}

.plans-section {
    margin-top: 100px;
    padding: 100px 0 80px 0;
    &-title {
        font-size: 3rem;
        color: $first-font-color;
        margin: 25px 0;
    }

    &-info {
        @include flex(space-between, center, 0);

        &-title {
            color: $second-font-color;
            margin-bottom: 20px;
        }
        &-list {
            list-style-type: none;
            color: $second-font-color;
            & li {
                margin-bottom: 15px;
            }
        }
    }

    &-img-responsive {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    .subscription-banner-section {
        padding: 50px 15px;
        height: 900px;
        &-cards {
            flex-direction: column;
            top: 30%;
            gap: 40px;
        }
        &-title {
            font-size: 3rem;
        }
    }

    .plans-section {
        &-info {
            flex-direction: column;
            gap: 20px;
        }
        &-img {
            display: none;
        }
        &-img-responsive {
            display: block;
            width: 380px;
            margin-top: 100px;
        }
    }
}
  
 